body {
    background: #ADA996;
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
}

.titulo {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

.tarefa_feita {
    text-decoration: line-through;
    color: gray; /* Opcional: deixar o texto um pouco desativado */
}
